@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap%27');

.content-imagetext{
    color: white;
    padding: 50px;
    font-family: 'Lacquer';
}

.content-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-table h4{
    color: #F3555F;
}


.values{
    display: flex;
}

.real{
    color: yellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}